---
layout: page
title: Students
sub-title: Students whom I have had the priviledge to advise.
---

<div class="front-full-width-container">
<div class="container">
<div class="table-responsive front-full-width-text">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
    {% for header in site.data.students %}
      {% if forloop.first %}
        {% for col in header %}
           <th>{{ col[0] }}</th>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for header in site.data.students %}
    <tr>
        {% for col in header %}
           <td>{{ col[1] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
